<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ucaece.psicopedia">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/psi_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/psi_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DetalleNota" />
        <activity
            android:name=".PreguntasActivity"
            android:label="@string/title_activity_preguntas"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity
            android:name=".quienes_somos"
            android:label="@string/title_activity_quienes_somos"
            android:theme="@style/AppTheme.NoActionBar" />

    </application>

</manifest>